<div class="container h-100 d-flex justify-content-center align-items-center">
  <div class="row">
    <div class="col-sm-12 mt-3 mb-3">
      <h1 class="text-center white">Login</h1>
    </div>
    <div class="col-sm-12 mt-3 mb-3">
      <app-input [label]="'Email'" type="text" (valueChange)="onValueChange($event, 'email')"></app-input>
    </div>
    <div class="col-sm-12 mt-3 mb-3">
      <app-input [label]="'Password'" type="password" (valueChange)="onValueChange($event, 'password')"></app-input>
    </div>
    <div class="col-sm-12 mt-3 mb-3 d-flex justify-content-center align-items-center">
      <app-button text="Login" [onClick]="login.bind(this)"></app-button>
    </div>
  </div>
</div>
