<div class="sidebar" [ngClass]="{ 'expanded': isExpanded }">
  <div class="header">
    <app-image-wrapper *ngIf="isExpanded" image="../../../assets/logo.webp" alt="Logo" [width]="100" [height]="50"
      [objectFit]="'contain'"></app-image-wrapper>
    <app-image-wrapper *ngIf="!isExpanded" image="../../../assets/miniLogo.webp" alt="Logo" [width]="100" [height]="50"
      [objectFit]="'contain'"></app-image-wrapper>
    <div class="toggle" (click)="handleSidebarToggle()">
      <span class="chevron"></span>
    </div>
  </div>
  <div class="content d-flex justify-content-center flex-column p-3" *ngFor="let item of sidebar">
    <ng-container *ngIf="!item.children">
      <a [routerLink]="item.route" class="no-textDecoration">
        <app-text tag="p" [text]="item.name" class="white mb-0 p-1 text-center"></app-text>
      </a>
    </ng-container>
    <ng-container *ngIf="item.children">
      <div ngbDropdown class="d-flex justify-content-center">
        <a href="javascript:void(0)" class="white no-border no-textDecoration" id="{{item.name}}" ngbDropdownToggle>
          {{item.name}}
        </a>
        <div ngbDropdownMenu>
          <a [routerLink]="child.route" *ngFor="let child of item.children" class="no-textDecoration">
            <app-text tag="p" [text]="child.name" class="white mb-0 pt-3 pb-3"></app-text>
          </a>
        </div>
      </div>
    </ng-container>
  </div>
  
</div>