/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";
// regular style toast
@import 'ngx-toastr/toastr';
// boostrap 5
// @import 'ngx-toastr/toastr-bs5-alert';
:root {
  --body-background: #171717;
}
// body styling
body {
  // background-color: var(--body-background) !important;
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  &::after,
  &::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #171717;
    z-index: -1;
  }
  &::after{
    opacity: 0.9;
  }
  &::before{
    // background: url('./assets/Loginwallpaper.jpg');
    // opacity: 0.6;
  }
  #topProp,
  #bottomProp {
    position: absolute;
    height: 100vh;
    width: 30vw;
    top: 0;
    z-index: 0;
    will-change: border-radius, transform, opacity;
  }
  #topProp {
    -webkit-animation: sliderShape 5s linear infinite, sliderShape 5s linear infinite, pulse 10s infinite, bounce 3s infinite, bg 4s ease-in-out infinite, bg 4s ease-in-out infinite;
    -moz-animation: sliderShape 5s linear infinite, sliderShape 5s linear infinite, pulse 10s infinite, bounce 3s infinite, bg 4s ease-in-out infinite, bg 4s ease-in-out infinite;
    -o-animation: sliderShape 5s linear infinite, sliderShape 5s linear infinite, pulse 10s infinite, bounce 3s infinite, bg 4s ease-in-out infinite, bg 4s ease-in-out infinite;
    animation: sliderShape 5s linear infinite, sliderShape 5s linear infinite, pulse 10s infinite, bounce 3s infinite, bg 4s ease-in-out infinite, bg 4s ease-in-out infinite;
    left: 0;
    &::after,
    &::before {
      content: "";
      height: 200px;
      width: 50%;
      border-radius: 100%;
      position: absolute;
      filter: blur(100px);
    }
    &::after {
      background-image: linear-gradient(
        -225deg,
        #060047 0,
        #B3005E 29%,
        #E90064 67%,
        #FF5F9E 100%
      );
      background-size: 500% 500%;
      -webkit-animation: sliderShape 5s linear infinite, sliderShape 5s linear infinite, pulse 10s infinite, bounce 3s infinite, bg 4s ease-in-out infinite, bg 4s ease-in-out infinite;
    -moz-animation: sliderShape 5s linear infinite, sliderShape 5s linear infinite, pulse 10s infinite, bounce 3s infinite, bg 4s ease-in-out infinite, bg 4s ease-in-out infinite;
    -o-animation: sliderShape 5s linear infinite, sliderShape 5s linear infinite, pulse 10s infinite, bounce 3s infinite, bg 4s ease-in-out infinite, bg 4s ease-in-out infinite;
    animation: sliderShape 5s linear infinite, sliderShape 5s linear infinite, pulse 10s infinite, bounce 3s infinite, bg 4s ease-in-out infinite, bg 4s ease-in-out infinite;
      width: 100%;
      bottom: 10%;
      left: 40%;
    }
    &::before {
      background-image: linear-gradient(
        -225deg,
        #3498db 0,
        #9b59b6 29%,
        #e74c3c 67%,
        #f1c40f 100%
      );
      background-size: 500% 500%;
      animation: bg 2s ease-in-out infinite;
      width: 100%;
      bottom: 40%;
      left: 10%;
    }
  }
  #bottomProp {
    -webkit-animation: sliderShape 5s linear infinite, sliderShape 5s linear infinite, pulse 10s infinite, bounce 3s infinite, bg 4s ease-in-out infinite, bg 4s ease-in-out infinite;
    -moz-animation: sliderShape 5s linear infinite, sliderShape 5s linear infinite, pulse 10s infinite, bounce 3s infinite, bg 4s ease-in-out infinite, bg 4s ease-in-out infinite;
    -o-animation: sliderShape 5s linear infinite, sliderShape 5s linear infinite, pulse 10s infinite, bounce 3s infinite, bg 4s ease-in-out infinite, bg 4s ease-in-out infinite;
    animation: sliderShape 5s linear infinite, sliderShape 5s linear infinite, pulse 10s infinite, bounce 3s infinite, bg 4s ease-in-out infinite, bg 4s ease-in-out infinite;
    right: 0;
    &::after,
    &::before {
      content: "";
      height: 200px;
      width: 50%;
      border-radius: 100%;
      position: absolute;
      filter: blur(100px);
    }
    &::after {
      background-image: linear-gradient(
        -225deg,
        #3498db 0,
        #9b59b6 29%,
        #e74c3c 67%,
        #f1c40f 100%
      );
      background-size: 500% 500%;
      -webkit-animation: sliderShape 5s linear infinite, sliderShape 5s linear infinite, pulse 10s infinite, bounce 3s infinite, bg 4s ease-in-out infinite, bg 4s ease-in-out infinite;
    -moz-animation: sliderShape 5s linear infinite, sliderShape 5s linear infinite, pulse 10s infinite, bounce 3s infinite, bg 4s ease-in-out infinite, bg 4s ease-in-out infinite;
    -o-animation: sliderShape 5s linear infinite, sliderShape 5s linear infinite, pulse 10s infinite, bounce 3s infinite, bg 4s ease-in-out infinite, bg 4s ease-in-out infinite;
    animation: sliderShape 5s linear infinite, sliderShape 5s linear infinite, pulse 10s infinite, bounce 3s infinite, bg 4s ease-in-out infinite, bg 4s ease-in-out infinite;
      width: 100%;
      top: 10%;
      right: 10%;
    }
    &::before {
      background-image: linear-gradient(
        -225deg,
        #3498db 0,
        #9b59b6 29%,
        #e74c3c 67%,
        #f1c40f 100%
      );
      background-size: 500% 500%;
      animation: bg 4s ease-in-out infinite;
      width: 100%;
      top: 40%;
      right: 30%;
    }
  }
}
// constant
.white {
  color: white;
}
.black {
  color: black;
}
.whiteBg {
  background-color: white;
}
.blackBg {
  background-color: black;
}
.capitalize{
  text-transform: capitalize;
}
.height70vh{
  height: 70vh;
}
.no-border{
  border: 0;
  border-color: transparent;
}
.no-textDecoration{
  text-decoration: none;
}
// .slider-thumb::before {
// 	position: absolute;
//     content: "";
//     left: 30%;
//     top: 20%;
//     width: 50%;
//     height: 50%;
//     background-image: linear-gradient(-225deg, #3498db 0, #9b59b6 29%, #e74c3c 67%, #f1c40f 100%);
//     border-radius: 62% 47% 82% 35%/45% 45% 80% 66%;
//     background-size: 500% 500%;
//     will-change: border-radius, transform, opacity;
//     animation: sliderShape 5s linear infinite, sliderShape 5s linear infinite, sliderShape 5s linear infinite, pulse 10s infinite, bounce 3s infinite, bg 4s ease-in-out infinite, bg 4s ease-in-out infinite, bg 4s ease-in-out infinite;
//     display: block;
//     z-index: -1;
//     -webkit-animation: sliderShape 5s linear infinite, sliderShape 5s linear infinite, sliderShape 5s linear infinite, pulse 10s infinite, bounce 3s infinite, bg 4s ease-in-out infinite, bg 4s ease-in-out infinite, bg 4s ease-in-out infinite;
// }
// key frames
@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}
@keyframes pulse {
  from {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.75);
    opacity: 0.25;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes bounce {
  0% {
    top: 200px;
    animation-timing-function: ease-in-out;
  }
  25% {
    top: 50px;
    animation-timing-function: ease-in-out;
  }
  50% {
    top: 100px;
    animation-timing-function: ease-in-out;
  }
  75% {
    top: 75px;
    animation-timing-function: ease-in-out;
  }
  100% {
    top: 200px;
  }
}
@keyframes bg {
  50% {
    background-position: 100% 100%;
  }
}
