<div class="container mt-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="d-flex justify-content-between align-content-center">
                <app-greet></app-greet>
                <h4 class="text-center white">Your Balance: {{accountBalance | currency :'USD'}}</h4>
            </div>

        </div>
        <div class="col-sm-3">
            <app-flip-card avatar="../../../assets/studentIcon.png" alt="student icon" heading="Total Students" [text]="studentsLength"></app-flip-card>
        </div>
        <div class="col-sm-3">
            <app-flip-card avatar="../../../assets/teacherIcon.png" alt="teacher icon" heading="Total Teachers" [text]="teachersLength"></app-flip-card>
        </div>
        <div class="col-sm-3">
            <app-flip-card avatar="../../../assets/coursesIcon.png" alt="courses icon" heading="Total Courses" [text]="coursesLength"></app-flip-card>
        </div>
    </div>
</div>
